* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    
    
}

main {
    background-color: white;
    align-items: center;
    background-size: cover;
    height: 88vh;
    padding-top: 30px;
}

.teste {
    text-align: center;
    background-color:#EFEFEF;
    height: 414px;
}

.logo {
    padding: 23px 0;
    position: relative;
    right: 20px;
    top: 18px;
}

#linha-superior {
    height: 6.2px;
    background-color: hsl(229, 25%, 54%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho {
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.cabecalho li {
    letter-spacing: 2px;
    margin-left: 10pxpx;
}

.center {
    text-align: center;
    padding: 10px 0;
}

#fundo-1{
    display: flex;
    
    background-repeat: no-repeat;

}
